/* Cores: https://coolors.co/01579b-615756-539987-52ffb8-4dfff3 */

nav{
    background-color: #539987!important;
}

h5{
  font-weight: 900;
}
.card-panel{
    background-image: linear-gradient(to right bottom, #539987, #58a08e, #5ca894, #61af9b, #66b7a2);
}

/* body{
  background-image: url('../images/food.svg');
  background-repeat: no-repeat;
  background-size: 50vh;
  background-position-x: center;
  background-position-y: 25vh;
} */


  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }